
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(90deg, #0048b1, #5b9fff);
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #dee2e6;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.form-signin {
    width: 800px;
    height: 400px;
    margin: auto;
    max-width: 330px;
    padding: 20px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
    margin-bottom: 20px;

}
.form-signin input[type="name"] {
    margin-bottom: 5px;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.name {
    color: black;
}
